@(pageNo: Int, page: crud.util.Paginate.Page, getCall: (Int) => Call)

@import play.api.i18n.Messages

@if(page.getCount > 0) {
    <div class="row">

        <div class="col-md-5 col-sm-12">
            <div class="dataTables_info">
                @page.getFirst @Messages("common.paginate.to") @page.getLast @Messages("common.paginate.of") @page.getCount
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
        @if(page.getPages > 1) {
            <div class="dataTables_paginate paging_bootstrap">
                <ul class="pagination">
                    @if(page.getPage > 1) {
                        <li>
                            <a href="@getCall(1)">
                                «
                            </a>
                        </li>
                    }
                    @if(page.getPage > 1) {
                        <li>
                            <a href="@getCall(page.getPage - 1)">
                                <
                            </a>
                        </li>
                    }
                    @for(pageNo <- (page.getPage - 2) to (page.getPage + 2) ){
                        @if(pageNo > 0 && pageNo <= page.getPages) {
                            <li @if(pageNo == page.getPage){class="active"}>
                                <a href="@getCall(pageNo)">
                                @pageNo
                                </a>
                            </li>
                        }
                    }
                    @if(page.getPage < page.getPages) {
                        <li>
                            <a href="@getCall(page.getPage + 1)">
                                >
                            </a>
                        </li>
                    }
                    @if(page.getPage < page.getPages) {
                        <li>
                            <a href="@getCall(page.getPages)">
                                »
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
        </div>

    </div>
}
