@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.playauth.party.Party
@import helper._
@import play.api.i18n.Messages
@import views.html.metronic._
@import ch.insign.playauth.party.ISOGender
@import ch.insign.cms.models.CMS
@import java.io.File

@(
        userForm: Form[_],
        customerEmails: Form[_],
        user: Party
)

@partyExtension = {
    @helper.input(
        userForm("image"),
        'id -> "image",
        'name -> "image",
        'class -> "form-control",
        '_label -> Messages("backend.user.image"),
        'placeholder -> ""
    ) { (id, name, value, args) =>
        <div class="input-group">
            <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args)>
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary image-upload" data-field="#@id">
                @Messages("btn.browse")
                </button>
            </span>
        </div>
        @value.filter(_.nonEmpty).map { image =>
            <p>@Messages("user.image.delete.hint")</p>
            <div>
                <img src="@{CMS.getConfig().imageUploadRootPath() + File.separator + image}" style="width: 150px;"/>
            </div>
        }
    }

    @inputText(
        userForm("firstName"),
        'class -> "form-control",
        'placeholder -> Messages("backend.user.firstName"),
        'maxlength -> "25",
        '_label -> Messages("backend.user.firstName")
    )

    @inputText(
        userForm("lastName"),
        'class -> "form-control",
        'placeholder -> Messages("backend.user.lastName"),
        'maxlength -> "30",
        '_label -> Messages("backend.user.lastName")
    )
}
@ch.insign.cms.views.html.admin.party.editForm(new AdminContext(), userForm, customerEmails, user, null, partyExtension) {
    @metronic.select(
        userForm,
        "gender",
        Messages("backend.user.gender"),
        Seq(ISOGender.MALE, ISOGender.FEMALE).map((gender) => (gender.name, Messages("backend.user.gender.label." + gender)))
    )

    @helper.input(
        userForm("phone"),
        'id -> "phone",
        'name -> "phone",
        'pattern -> "^\\d{6,11}$",
        'class -> "form-control",
        'maxlength -> "11",
        'placeholder -> Messages("backend.user.phone"),
        '_label -> Messages("backend.user.phone")
    ){ (id, name, value, args) =>
            <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
            <p>@Messages("user.register.phone.hint")</p>
    }
}
