@(
        a: ch.insign.cms.views.admin.utils.AdminContext,
        user: ch.insign.playauth.party.Party,
        changePasswordForm: Form[ch.insign.cms.forms.PasswordChange],
        extraMenuItems: Html=Html.apply("")
)

@import helper.{options, inputPassword}
@import views.html.metronic._
@import ch.insign.cms.views.html.helpers.mstring
@import helper._
@import ch.insign.cms.views.html.admin.shared.layout
@import play.api.i18n.Messages;
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.cms.views.html.admin.party.userEditPage
@import ch.insign.playauth.views.helper._
@import ch.insign.playauth.permissions._
@import ch.insign.cms.models.CMS

@userEditPage(a, user, extraMenuItems) {
    @hasAnyPermission(PartyPermission.EDIT_PASSWORD(user), PartyPermission.REQUEST_PASSWORD_RESET(user)) {
        <div id="tab_1-2" class="tab-pane active">
            <div id="msg-password-changed" class="alert alert-success" style="display: none">
            @Messages("backend.user.password.changed.msg")
            </div>

            <div id="msg-password-reset" class="alert alert-success" style="display: none">
            @Messages("backend.user.email.sent.msg")
            </div>

            @form(CMS.getRouteResolver.doChangePassword(user.getId), 'id -> "frm-change-password", 'class -> "form-horizontal") {
                <div class="form-group">
                    @inputPassword(
                        changePasswordForm("password"),
                        'id -> "new-password",
                        'class -> "form-control",
                        'placeholder -> Messages("backend.user.new.password"),
                        '_label -> Messages("backend.user.new.password"),
                        'pattern -> "^((?=.*\\d)(?=.*[a-zA-Z])).{6,}$"
                    )
                    <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-6 col-md-8 col-sm-6" id="password-strength">
                        <p class="password-hint">@Messages("auth.login.password.pattern.help")</p>
                        <span class="password-strength-weak" style="display:none;">@Messages("auth.login.password.weak")</span>
                        <span class="password-strength-moderate" style="display:none;">@Messages("auth.login.password.moderate")</span>
                        <span class="password-strength-strong" style="display:none;">@Messages("auth.login.password.strong")</span>
                    </div>
                </div>

                <div class="form-group">
                @inputPassword(
                    changePasswordForm("repeatPassword"),
                    'id -> "repeat-password",
                    'class -> "form-control",
                    'placeholder -> Messages("backend.user.new.password.again"),
                    '_label -> Messages("backend.user.new.password.again"),
                    '_showConstraints -> false
                )
                </div>

                <div class="form-actions fluid">
                    <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-9 col-md-8 col-sm-8">
                        <button type="submit" class="btn btn-primary" id="btn-change-password">@Messages("backend.user.btn.save.password")</button>
                        <a href="@CMS.getRouteResolver.listParties()" class="btn default">@Messages("backend.btn.cancel")</a>
                    </div>
                </div>
            }
        </div>
    }
}
