@import crud.data.form.CategoryForm
@import crud.permission.CategoryPermission
@import crud.data.entity.categories.Category
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.playauth.views.helper._
@import helper._
@import metronic.{file, text}
@import metronic.metronicFieldConstructor
@import scala.compat.java8.OptionConverters.RichOptionalGeneric
@import ch.insign.cms.models.CMS

@(categoryForm: play.data.Form[CategoryForm])

@disabledIfLacksEditPermission() = {
@lacksPermission(categoryForm("id").getValue.asScala.map(_ => CategoryPermission.EDIT).getOrElse(CategoryPermission.ADD)) {
    disabled = "disabled"
}
}

@layout(new AdminContext()) {
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-edit"></i>
                        @categoryForm("id").getValue.asScala.map { _ =>
                            @Messages("crud.category.edit.title")
                        }.getOrElse {
                            @Messages("crud.category.add.title")
                        }
                    </div>
                </div>
                <div class="portlet-body">
                @form(categoryForm("id").getValue.asScala
                        .map(id => crud.controller.routes.CategoryController.doEdit(id.toLong))
                        .getOrElse(crud.controller.routes.CategoryController.doAdd), 'class -> "form-horizontal") {

                    @formKey()

                    <fieldset  >
                        <div class="form-body">
                            @categoryForm("id").getValue.asScala.map { id =>
                                <input type="hidden" name="id" value="@id">
                            }

                            @text(
                                categoryForm,
                                "name",
                                Messages("crud.categories.name"),
                                ""
                            )

                        </div>
                    </fieldset>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" class="btn red">@Messages("backend.btn.save")
                            </button>
                            <a href="@crud.controller.routes.CategoryController.list()" class="btn default">@Messages("backend.btn.cancel")</a>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
}
