@()

@import ch.insign.cms.views.html.admin.shared.layout
@import crud.permission.CarPermission

@pageFooter = {
    @* JS that would initialize datatable *@
    <script src="@ch.insign.cms.controllers.routes.JsController.javascriptTranslations(
        "error.unknown.message"
    )" type="text/javascript"></script>
    <script src="/assets/javascripts/car_list.js" type="text/javascript"></script>
}

@layout(new ch.insign.cms.views.admin.utils.AdminContext, "", "", null, pageFooter) {
    <div class="modal fade" id="deleteCarModal"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-car"></i>@Messages("example.crud.car.list.title")
                    </div>
                    <div class="actions">
                        <a href="@crud.controller.routes.CarController.add" class="btn red">
                            <i class="fa fa-plus"></i> @Messages("backend.newEntry.button")
                        </a>
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="carList" data-url="@crud.controller.routes.CarController.datatable()">
                        <thead>
                            <tr>
                                <th>@Messages("example.crud.car.id")</th>
                                <th>@Messages("example.crud.car.model")</th>
                                <th>@Messages("example.crud.car.brand")</th>
                                <th>@Messages("example.crud.car.registrationId")</th>
                                <th>@Messages("example.crud.car.price")</th>
                                <th>@Messages("example.crud.car.buyDate")</th>
                                <th>@Messages("example.crud.car.action")</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
