@import crud.data.form.ProductForm
@import crud.permission.ProductPermission
@import crud.data.entity.categories.Category
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.playauth.views.helper._
@import helper._
@import metronic.{file, text}
@import metronic.metronicFieldConstructor
@import scala.compat.java8.OptionConverters.RichOptionalGeneric
@import ch.insign.cms.models.CMS
@import ch.insign.cms.views.html.helpers.imageUploadMstring
@import ch.insign.cms.views.html.helpers.mstring
@import ch.insign.cms.views.html.helpers.mstringFile
@import ch.insign.cms.views.html.helpers.responsiveFileInput

@(productForm: play.data.Form[ProductForm], categories: List[Category])

@disabledIfLacksEditPermission() = {
    @lacksPermission(productForm("id").getValue.asScala.map(_ => ProductPermission.EDIT).getOrElse(ProductPermission.ADD)) {
        disabled = "disabled"
    }
}

@layout(new AdminContext()) {
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-edit"></i>
                        @productForm("id").getValue.asScala.map { _ =>
                            @Messages("crud.product.edit.title")
                        }.getOrElse {
                            @Messages("crud.product.add.title")
                        }
                    </div>
                </div>
                <div class="portlet-body">
                @form(productForm("id").getValue.asScala
                        .map(id => crud.controller.routes.ProductController.doEdit(id.toLong))
                        .getOrElse(crud.controller.routes.ProductController.doAdd), 'class -> "form-horizontal") {

                    @formKey()

                    <fieldset  >
                        <div class="form-body">
                            @productForm("id").getValue.asScala.map { id =>
                                <input type="hidden" name="id" value="@id">
                            }
                            @productForm("imageId").getValue.asScala.map { id =>
                                <input type="hidden" name="imageId" value="@id">
                            }

                            @text(
                                productForm,
                                "name",
                                Messages("crud.product.name"),
                                ""
                            )

                            @text(
                                productForm,
                                "description",
                                Messages("crud.product.description"),
                                ""
                            )

                            @text(
                                productForm,
                                "price",
                                Messages("crud.product.price"),
                                ""
                            )

                            @helper.select(
                                productForm("category"),
                                options = categories.map(c => (c.getId.toString, c.getName)),
                                'class -> "form-control select2me",
                                '_label -> Messages("crud.product.category")
                            )(FieldConstructor(metronicFieldConstructor.f), implicitJavaMessages)

                            @if(CMS.getConfig.isMoxieManagerEnable) {
                                @mstringFile(
                                    productForm.get().getImage,
                                    productForm,
                                    "image",
                                    Messages("slider.entry.block.field.image.label"),
                                    ""
                                )(metronic.constructors.metronic9)
                            } else {
                                @if(CMS.getConfig.isResponsiveFileManagerEnable) {
                                    @responsiveFileInput(
                                        productForm.get().getImage,
                                        productForm,
                                        "image",
                                        Messages("slider.entry.block.field.image.label"),
                                        ""
                                    )(metronic.constructors.metronic9)
                                } else {
                                    @imageUploadMstring(
                                        productForm.get().getImage,
                                        productForm,
                                        "image",
                                        Messages("slider.entry.block.field.image.label"),
                                        ""
                                    )(metronic.constructors.metronic9)
                                }
                            }

                        </div>
                    </fieldset>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" class="btn red">@Messages("backend.btn.save")
                            </button>
                            <a href="@crud.controller.routes.ProductController.list()" class="btn default">@Messages("backend.btn.cancel")</a>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
}
