@()

@import ch.insign.cms.views.html.admin.shared.layout
@import crud.permission.CarPermission

@pageFooter = {
    @* JS that would initialize datatable *@
    <script src="@ch.insign.cms.controllers.routes.JsController.javascriptTranslations(
        "error.unknown.message")" type="text/javascript"></script>
    <script src="/assets/javascripts/product_list.js" type="text/javascript"></script>
}

@layout(new ch.insign.cms.views.admin.utils.AdminContext, "", "", null, pageFooter) {
    <div class="modal fade" id="deleteProductModal"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-car"></i>@Messages("crud.product.list.title")
                    </div>
                    <div class="actions">
                        <a href="@crud.controller.routes.ProductController.add" class="btn red">
                            <i class="fa fa-plus"></i> @Messages("backend.newEntry.button")
                        </a>
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="productList" data-url="@crud.controller.routes.ProductController.datatable()">
                        <thead>
                            <tr>
                                <th>@Messages("crud.product.id")</th>
                                <th>@Messages("crud.product.name")</th>
                                <th>@Messages("crud.product.description")</th>
                                <th>@Messages("crud.product.price")</th>
                                <th>@Messages("crud.product.category")</th>
                                <th>@Messages("example.crud.car.action")</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
