@import crud.data.entity.Product

@(product: Product)

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title">
            @Messages("crud.product.delete.modal.title")
        </h4>
    </div>
    <div class="modal-body">
    @Messages("crud.product.delete.modal.content", product.getName, product.getId)
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("modal.btn.cancel")</button>
        <button type="button" class="btn btn-primary" id="remove" data-url="@crud.controller.routes.ProductController.delete(product.getId)">
        @Messages("modal.btn.delete")
        </button>
    </div>
</div>
