@import blocks.pageblock.DefaultPage
@import ch.insign.cms.blocks.horizontalcollection.HorizontalCollectionBlock
@import ch.insign.cms.models.ContentBlock
@import ch.insign.cms.models.PageBlock
@import ch.insign.cms.models.Template
@import ch.insign.cms.models.CollectionBlock
@import ch.insign.cms.views.html._navigationByKey
@import views.html.main
@(data: DefaultPage)
@main(data) {
    <section class="container">
        <h1>@data.getPageTitle</h1>
        <div class="row">
            <div class="col-md-7">
                @Template.addBlockToSlot(classOf[CollectionBlock], data, "main").context("mainContext").render()
            </div>
            <div class="col-md-5">
                @Template.addBlockToSlot(classOf[CollectionBlock], data, "sidebar").context("sidebarContext").render()
            </div>
        </div>
    </section>
    @Template.addBlockToSlot(classOf[HorizontalCollectionBlock], data, "bottom").context("bottomContext").render()
}
