@import ch.insign.cms.models.StandalonePage
@import views.html.main
@import play.data.Form
@import ch.insign.cms.forms.MyIdentity

@(page: StandalonePage,form: Form[MyIdentity])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }
@main(page) {
    <div class="container">
        <section class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="section-header">
                    <h3 class="section-title mb-4">@Messages("user.password_reset.title")</h3>
                </div>
                @helper.form(controller.routes.UserController.sendResetPasswordConfirmation()) {
                    @b4.email(
                        form("email"),
                        '_label -> Messages("password.reset.email"),
                        '_required -> true
                    )

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary flex-grow-1 flex-md-grow-0">@Messages("password.reset.send_email_button")</button>
                    </div>
                }
            </div>
        </section>
    </div>
}
