@import ch.insign.cms.models.StandalonePage
@import views.html.main
@import data.form.ResetPasswordForm
@import scala.compat.java8.OptionConverters.RichOptionalGeneric
@(
        page: StandalonePage,
        resetPasswordForm: play.data.Form[ResetPasswordForm]
)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main(page) {
    <div class="container">
        <section class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="section-header">
                    <h3 class="section-title mb-4">@Messages("user.password_reset.confirmation.title")</h3>
                </div>

                @b4.form(controller.routes.UserController.doResetPassword) {
                    @resetPasswordForm.getGlobalError.asScala.map { error =>
                        @b4.static() {
                            <div class="error alert alert-danger">
                                @Html(error.message)
                            </div>
                        }
                    }

                    @b4.hidden(resetPasswordForm("token"))

                    @b4.password(
                        resetPasswordForm("password"),
                        '_label -> Messages("user.register.password"),
                        '_required -> true,
                        '_help -> Messages("auth.login.password.pattern.help")
                    )

                    @b4.password(
                        resetPasswordForm("repeatPassword"),
                        '_label -> Messages("user.register.repeatPassword"),
                        '_required -> true
                    )

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary flex-grow-1 flex-md-grow-0">@Messages("reset.password.btn.submit")</button>
                    </div>
                }
            </div>
        </section>
    </div>
}
