@(data: blocks.teaserblock.TeaserBlock)

@import ch.insign.cms.views.html._blockBase
@import views.html.tags._asset


@_blockBase(data = data, delete = true, edit = true, add = false, color = "red", name = "Content") {
    <img class="card-img-top" src="@data.getLogoUrl.get()" class="w-100" alt="@data.getTitle">
    <div class="card-body">
        <h5 class="card-title">@data.getTitle.get()</h5>
        <p class="card-text">@Html(data.getContent.get())</p>
        <a href="@data.getLinkUrl.get()" class="btn btn-primary">@data.getLinkText.get() &rarr;</a>
    </div>
}
