@import ch.insign.cms.models.StandalonePage
@import views.html.main
@import play.data.Form
@import data.form.EditPasswordForm
@import party.User

@(page: StandalonePage, form: Form[EditPasswordForm], user: User)
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main(page) {
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @views.html.account.partials.sidebar.render(user)
            </div>
            <div class="col-md-9">
                <div class="section-header">
                    <h3 class="section-title">
                        <i class="glyphicon glyphicon-lock"></i> @Messages("account.dashboard.editPassword")
                    </h3>
                    <div class="spacer spacer-xs"></div>
                </div>

                @helper.form(controller.routes.AccountController.doEditPassword) {
                    @b4.password(
                        form("oldPassword"),
                        '_label -> Messages("account.dashboard.editPassword.old"),
                        '_required -> true
                    )

                    @b4.password(
                        form("password"),
                        '_label -> Messages("user.register.password"),
                        '_required -> true,
                        '_help -> Messages("auth.login.password.pattern.help")
                    )

                    @b4.password(
                        form("repeatPassword"),
                        '_label -> Messages("user.register.repeatPassword"),
                        '_required -> true
                    )

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            @Messages("account.dashboard.editPassword.submit")
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
}
