@import ch.insign.cms.models.CMS
@import helper._
@import views.html.metronic.constructors.vertical
@(loginForm: Form[_], backUrl: String = "", title: String=play.api.i18n.Messages("frontend.login.modal.title"))

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@title</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            @helper.form(CMS.getRouteResolver.login, 'role -> "form", 'id -> "loginForm") {
                <div class="login-error alert alert-danger d-none"></div>
                <div class="group-email form-group">
                @inputText(
                    loginForm("email"),
                    'class -> "form-control ",
                    'placeholder -> Messages("login.modal.email.placeholder"),
                    '_label -> Messages("login.modal.email.label")
                )
                </div>

                <div class="group-password form-group">
                @inputPassword(
                    loginForm("password"),
                    'class -> "form-control",
                    'placeholder -> Messages("login.modal.password.placeholder"),
                    '_label -> Messages("login.modal.password.label")
                )
                </div>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="rememberMe" value="1"/>&nbsp;<span>@Messages("admin.login.remember.me.label")</span>
                    </label>
                </div>
                <p>
                    <span class="pull-right">
                        <a href="@controller.routes.UserController.showResetPasswordPage">@Messages("user.forgot_password.label")</a>
                    </span>
                </p>
            }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("modal.close.btn")</button>
                <button type="submit" class="btn btn-primary" form="loginForm">@Messages("login.modal.login.btn")</button>
            </div>
        </div>
    </div>
</div>
